{% extends "layout.html" %}
{% block body %}
  <div class="container u-top-container">
    <div class="row">
      <div class="four columns">
        <a href={{ url_for('add_inventory') }}>
          <button class="u-full-width">Add New Inventory</button>
        </a>
      </div>
      <div class="four columns">
        <a href={{ url_for('mark_empty') }}>
          <button class="u-full-width">Mark Empty Bottles</button>
        </a>
      </div>
      <div class="four columns">
        <a href={{ url_for('show_inventory') }}>
          <button class="u-full-width">Liquor Inventory</button>
        </a>
      </div>

    </div>
  </div>
  <div class="container u-top-container">
    <div class="row u-center">
      <h4>Weight Updates</h4>
    </div>
    <div class="row">
      <div class="twelve columns u-center">
        {% if updates %}
          <table class="u-full-width">
            <thead>
              <tr>
                <th>Name</th>
                <th>Percent</th>
              </tr>
            </thead>
            <tbody>
              {% for update in updates %}
              <tr>
                <td>{{ update.name }}</td>
                <td>{{ update.percent }}</td>
              </tr>
              {% endfor %}
            <tbody>
          </table>
        {% else %}
          <h3>No updates!</h2>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
{% endblock %}
