{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="four columns">
        <a href=/add_inventory>
          <button class="u-full-width">Add New Inventory</button>
        </a>
      </div>
      <div class="four columns">
        <a href=/brands>
          <button class="u-full-width">Mark Empty Bottles</button>
        </a>
      </div>
      <div class="four columns">
        <a href=/inventory>
          <button class="u-full-width">Inventory</button>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
