<!doctype html>
<title>Tipsy</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<script src="{{ url_for('bower.static', filename='jquery/dist/jquery.js') }}"></script>

<link rel=stylesheet type=text/css href="{{ url_for('bower.static', filename='toastr/toastr.css') }}">
<script src="{{ url_for('bower.static', filename='toastr/toastr.js') }}"></script>

<div class=page>
  <div class="container u-top-container">
    <div class="row">
      <div class="twelve columns u-center">
        <h1><a href="/">Tipsy</a></h1>
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% block body %}{% endblock %}
</div>
