{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="twelve columns u-center">
        {% if brands %}
          <table class="u-full-width">
            <thead>
              <tr>
                <th>Brand</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for brand in brands %}
              <tr>
                <td>{{ brand.name }}</td>
                <td>{{ brand.quantity }}</td>
              </tr>
              {% endfor %}
            <tbody>
          </table>
        {% else %}
          <h3>No inventory yet!</h2>
          <a href=/add_inventory>
            <button class="u-full-width">Add New Inventory</button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
