{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="twelve columns u-center">
        <h2>Add New Inventory</h2>
      </div>
    </div>
    <form action="{{ url_for('add_to_inventory') }}" method=post class=add-brand>
      <div class="row">
        <div class="nine columns">
          <label>Add Brand</label>
          <input class="u-full-width" type=text placeholder="Smirnoff Raspberry" name=name>
        </div>
        <div class="three columns">
          <label>Quantity</label>
          <input class="u-full-width" type=text placeholder="10" name=quantity>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <input class="u-full-width button-primary" type=submit value=Add>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
