{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="twelve columns u-center">
        <h2>Mark Empty Bottles</h2>
      </div>
    </div>
    <form action="{{ url_for('mark_empty_bottles') }}" method=post class=mark-empty-bottles>
      <div class="row">
        <div class="nine columns">
          <label>Liquor</label>
          <input class="u-full-width" type=text placeholder="Maker's Mark" name=name>
        </div>
        <div class="three columns">
          <label>Quantity</label>
          <input class="u-full-width" type=text placeholder="5" name=quantity>
        </div>
        <div class="twelve columns">
          <input class="u-full-width button-primary" type=submit value=Done>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
