{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <div class="row u-center">
      <h2>Liquor Database</h2>
    </div>
    <div class="row">
      <div class="twelve columns u-center">
        {% if liquor %}
          <table class="u-full-width">
            <thead>
              <tr>
                <th>Brand</th>
                <th>UPC</th>
                <th>Price</th>
                <th>Full Weight</th>
                <th>Emtpy Weight</th>
              </tr>
            </thead>
            <tbody>
              {% for brand in liquor %}
              <tr>
                <td>{{ brand.name }}</td>
                <td>{{ brand.UPC }}</td>
                <td>{{ brand.price }}</td>
                <td>{{ brand.full }}</td>
                <td>{{ brand.empty }}</td>
              </tr>
              {% endfor %}
            <tbody>
          </table>
        {% else %}
          <h3>No liquor in database yet!</h2>
          <a href=/add_liquor>
            <button class="u-full-width button-primary">Add New liquor</button>
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
